services:
    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:9.2.2
        environment:
            discovery.type: 'single-node'
            xpack.security.enabled: false
            ES_JAVA_OPTS: '-Xms512m -Xmx512m'
        ulimits:
            memlock:
                soft: -1
                hard: -1
            nofile:
                soft: 65536
                hard: 65536
        healthcheck:
            test: ['CMD', 'curl', '-f', 'http://127.0.0.1:9200/_cluster/health']
            interval: 30s
            start_period: 120s
            timeout: 20s
            retries: 3
        ports:
            - '9200:9200'
